<h2 class="accordion w-100 text-primary">
  <i class="fas fa-graduation-cap"></i>
  {{ .Site.Params.education.title }}
</h2>
<div class="panel overflow-hidden">
  {{ range.Site.Params.education.list }}
  <dl>
    <dt class="text-dark">
      {{ if .link }} <a class="text-primary" href="{{ .link }}"> <i class="fas fa-university"></i> {{ .degree }}</a>
      {{ else }} <i class="fas fa-university"></i> {{ .degree }} {{ end }}
   </dt>
    <dd class="text-dark mb-0 ml-3"> <b> {{ .dates }} </b> &middot; {{ .college }}</dd>

    {{ if .credits }}
    <dd class="text-dark mb-0 ml-3">
      <b>Credits</b>: {{ .credits }}
  	</dd>
    {{ end }}

    {{ if .gpa }}
    <dd class="text-dark mb-0 ml-3">
      <b>GPA</b>: {{ .gpa }}
  	</dd>
    {{ end }}

    {{ if .thesis_link }}
    <dd class="text-dark mb-0 ml-4">
      Thesis:
      <a class="text-primary" href="{{ .thesis_link }}"
        ><i>{{ .thesis_title }}</i></a
      >
    </dd>
    {{ end }}

    {{ if .minor }}
    <dd class="text-dark mb-0 ml-3">
      <b>Minor</b>: {{ .minor }}
  	</dd>
    {{ end }}

    {{ if .micro }}
    <dd class="text-dark mb-0 ml-3">
      <b>Microspecialization</b>: {{ .micro }}
  	</dd>
    {{ end }}

    {{ if .p4 }}
    <dd class="text-dark mb-0 ml-3">
      <ul>
        <li>{{ .p1 | markdownify }}</li>
        <li>{{ .p2 | markdownify }}</li>
        <li>{{ .p3 | markdownify }}</li>
        <li>{{ .p4 | markdownify }}</li>
      </ul>
    </dd>
    {{ else if .p3 }}
    <dd class="text-dark mb-0 ml-3">
      <ul>
        <li>{{ .p1 | markdownify }}</li>
        <li>{{ .p2 | markdownify }}</li>
        <li>{{ .p3 | markdownify }}</li>
      </ul>
    </dd>
    {{ else if .p2 }}
    <dd class="text-dark mb-0 ml-3">
      <ul>
        <li>{{ .p1 | markdownify }}</li>
        <li>{{ .p2 | markdownify }}</li>
      </ul>
    </dd>
    {{ else if .p1 }}
    <dd class="text-dark mb-0 ml-3">
      <ul>
        <li>{{ .p1 | markdownify }}</li>
      </ul>
    </dd>
    {{ end }}

  </dl>
  {{ end }}
</div>
