<h2 class="accordion w-100 text-primary">
  <i class="fa fa-book" aria-hidden="true"></i>
  {{ .Site.Params.publication.title }}
</h2>
<div class="panel overflow-hidden">
  {{ range.Site.Params.publication.list }}
  <p class="text-dark">
    <i class="far fa-newspaper"></i> {{ .date }} &middot; {{ .authors | markdownify }} &middot;
    <a class="text-primary" href="{{ .link }}"><i>"{{ .title }}"</i></a> 
    {{ .journal }} &middot; 
    <a href="{{ .link_bib }}"><i class="text-primary zoomlink fa fa-quote-right fa-lg" aria-hidden="true"></i></a>
    <a href="{{ .link_pdf }}"><i class="text-primary zoomlink fa fa-file-pdf fa-lg" aria-hidden="true"></i></a>
    <a href="{{ .link_arx }}"><i class="text-primary zoomlink ai ai-arxiv ai-lg" aria-hidden="true"></i></a>
    <a href="{{ .link_blg }}"><i class="text-primary zoomlink fab fa-medium-m fa-lg" aria-hidden="true"></i></a>
    <a href="{{ .link_git }}"><i class="text-primary zoomlink fab fa-github fa-lg" aria-hidden="true"></i></a>
  </p> 
  {{ end }}
</div>
